In [4]:
import os
import json
import re
import pandas as pd
from util import text_classify,sep_pts
# import package
#{"None":0,"zh_char":1,"zh_str":2,"en":3,"zh_en":4}

/home/mark/Desktop/py3.7/cv/paddleOCR/lib/python3.7/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [5]:
#directory must contain train/json
dataset_path = "/home/mark/Desktop/py3.7/cv/datasets/ai_cup_f/"
my_path =dataset_path+"/train/"

In [5]:
files = os.listdir(my_path)#load filepath to variable
files[:2]#display first two

['json', 'lsvt']

In [4]:
# #extract useful info
# ids = []
# labels = []
# points = []
# img_name = []
# for file in files:#read top 10 files
#     #read file
#     with open(my_path+file,'r',encoding='utf-8') as f:
#         d = json.load(f)
#         #print(d["shapes"])
#         for elem in (d["shapes"]):#looping thru json
#             img_name.append(file[:-5])
#             ids.append(elem["group_id"])
#             labels.append(elem["label"])
#             points.append(elem["points"])

In [6]:
labels = []
points = []
img_name = []
with open(my_path+"lsvt.json",'r',encoding='utf-8') as f:
    d = json.load(f)
    for elem in (d):#looping thru json
        print(d[elem])
        break
#         for elem1 in d[elem]:
#             img_name.append(elem)
#             labels.append(elem1["transcription"])
#             points.append(elem1["points"])

[{'transcription': '一站式购物中心', 'points': [[45, 272], [215, 273], [212, 296], [45, 290]], 'illegibility': False}, {'transcription': '母婴百汇', 'points': [[33, 325], [204, 328], [202, 363], [31, 357]], 'illegibility': False}, {'transcription': 'TEL:', 'points': [[25, 359], [71, 364], [70, 385], [25, 382]], 'illegibility': False}, {'transcription': '8168886', 'points': [[72, 362], [197, 365], [197, 388], [72, 384]], 'illegibility': False}, {'transcription': '###', 'points': [[5, 394], [212, 409], [209, 435], [7, 423]], 'illegibility': True}, {'transcription': '方', 'points': [[649, 317], [665, 317], [662, 331], [648, 331]], 'illegibility': False}, {'transcription': '俊', 'points': [[648, 338], [663, 338], [661, 350], [648, 349]], 'illegibility': False}, {'transcription': '礼', 'points': [[646, 355], [658, 355], [660, 370], [644, 370]], 'illegibility': False}, {'transcription': '胡', 'points': [[677, 312], [692, 312], [690, 333], [676, 334]], 'illegibility': False}, {'transcription': '辣', 'points': [[689, 329], [703, 325], [705, 349], [686, 347]], 'illegibility': False}, {'transcription': '汤', 'points': [[683, 349], [699, 349], [695, 366], [680, 367]], 'illegibility': False}, {'transcription': '###', 'points': [[635, 459], [802, 467], [797, 488], [634, 479]], 'illegibility': True}, {'transcription': '转让', 'points': [[556, 517], [575, 517], [575, 525], [555, 526]], 'illegibility': False}, {'transcription': '###', 'points': [[555, 527], [576, 527], [575, 533], [554, 533]], 'illegibility': True}, {'transcription': '转让', 'points': [[466, 512], [514, 516], [511, 539], [461, 537]], 'illegibility': False}, {'transcription': '现有门面房三间', 'points': [[458, 541], [519, 545], [517, 555], [458, 549]], 'illegibility': False}, {'transcription': '现需整体转让', 'points': [[460, 552], [513, 555], [512, 562], [460, 560]], 'illegibility': False}, {'transcription': '有意者请联系', 'points': [[457, 562], [513, 566], [511, 574], [456, 570]], 'illegibility': False}, {'transcription': '电话：', 'points': [[448, 573], [466, 573], [466, 580], [444, 580]], 'illegibility': False}, {'transcription': '###', 'points': [[469, 573], [515, 575], [515, 585], [470, 581]], 'illegibility': True}, {'transcription': 'KIA', 'points': [[143, 628], [159, 628], [156, 638], [142, 636]], 'illegibility': False}, {'transcription': '###', 'points': [[95, 660], [105, 661], [102, 673], [94, 670]], 'illegibility': True}, {'transcription': '###', 'points': [[186, 678], [214, 680], [210, 690], [185, 687]], 'illegibility': True}, {'transcription': '一汽·大众', 'points': [[297, 727], [325, 731], [321, 743], [293, 737]], 'illegibility': False}, {'transcription': '###', 'points': [[443, 762], [485, 771], [480, 778], [441, 770]], 'illegibility': True}, {'transcription': '###', 'points': [[449, 774], [479, 780], [476, 788], [447, 782]], 'illegibility': True}, {'transcription': '方俊礼', 'points': [[345, 302], [594, 306], [591, 368], [339, 356]], 'illegibility': False}, {'transcription': '胡辣汤', 'points': [[764, 313], [1075, 316], [1057, 383], [757, 374]], 'illegibility': False}, {'transcription': '彩凤早餐店 项城分店 加盟电话：18839429666', 'points': [[866, 379], [1175, 389], [1170, 415], [863, 398]], 'illegibility': False}, {'transcription': '###', 'points': [[910, 625], [938, 628], [937, 642], [914, 639]], 'illegibility': True}]

In [26]:
len(set(img_name))

30000

In [11]:
#print(set(ids))# 7 classes

NameError: name 'ids' is not defined

In [6]:
# new_ids=[]#declare new id_var for classification
# for elem in labels:
#     new_ids.append(text_classify(elem))

In [27]:
pt1,pt2,pt3,pt4,pt5,pt6,pt7,pt8 = sep_pts(points)#sep points to 8 list

In [29]:
#declare dataframe
df = pd.DataFrame({"imgs":img_name,"pt1":pt1,"pt2":pt2,
                   "pt3":pt3,"pt4":pt4,"pt5":pt5,"pt6":pt6,"pt7":pt7,"pt8":pt8,
                   "labels":labels})
df.head()

      imgs  pt1  pt2  pt3  pt4  pt5  pt6  pt7  pt8   labels
0  gt_1234   45  272  215  273  212  296   45  290  一站式购物中心
1  gt_1234   33  325  204  328  202  363   31  357     母婴百汇
2  gt_1234   25  359   71  364   70  385   25  382     TEL:
3  gt_1234   72  362  197  365  197  388   72  384  8168886
4  gt_1234    5  394  212  409  209  435    7  423      ###

In [9]:
df[(df["ids"]==2) | (df["ids"]==4)]#select ids ==2 or 4

             imgs  ids  pt1   pt2   pt3   pt4   pt5   pt6  pt7   pt8   labels
7        img_7818    2  265  1106   904  1074   908  1186  256  1206  多多選物販賣機
13      img_11576    2  130   726   628   711   591   875   87   885      樂雅樂
14      img_11576    2  619   771  1033   753  1015   862  597   870     家庭餐廳
21       img_3260    2   80   383   225   374   227   669   68   661       日式
22       img_3260    4  138     1   373     0   376   372  135   361     ###裁
...           ...  ...  ...   ...   ...   ...   ...   ...  ...   ...      ...
303389  img_11082    2  476   269  1476   223  1501   427  449   466     小吉咖哩
303390  img_11082    2  257   282   393   282   317   492  170   491       小吉
303398   img_8854    2  633   194   824   283   662   825  379   774      中壢媽
303404   img_4595    2  568   715   626   689   641   818  578   836       手作
303407   img_4595    2  264   951   639   823   652   923  272  1046     包子豆漿

[49834 rows x 11 columns]

In [30]:
# turn empty str to ###
df.labels = df.labels.apply(lambda x:"###" if x =="" else x)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382606 entries, 0 to 382605
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   imgs    382606 non-null  object
 1   pt1     382606 non-null  int64
 2   pt2     382606 non-null  int64
 3   pt3     382606 non-null  int64
 4   pt4     382606 non-null  int64
 5   pt5     382606 non-null  int64
 6   pt6     382606 non-null  int64
 7   pt7     382606 non-null  int64
 8   pt8     382606 non-null  int64
 9   labels  382606 non-null  object
dtypes: int64(8), object(2)
memory usage: 29.2+ MB

In [34]:
#df.to_csv(dataset_path+"lsvt.csv",encoding="utf8",index=False)