In [32]:
import os
import cv2
import numpy as np
import pandas as pd
import random

In [36]:
#directory must contain public foler
dataset_path = "/home/mark/Desktop/py3.7/cv/datasets/ai_cup_f/"
img_path=dataset_path+"train/lsvt/"
#where you save img
out_path= dataset_path+"lsvt_draw/"

In [37]:
# read csv "df as dataframe"
df = pd.read_csv(dataset_path+"lsvt.csv",)

In [42]:
df1 = df.fillna("###")
print(df.isna().sum())
df = df1[df1.labels !="###"]
df.head()

imgs      0
pt1       0
pt2       0
pt3       0
pt4       0
pt5       0
pt6       0
pt7       0
pt8       0
labels    6
dtype: int64

      imgs  pt1  pt2  pt3  pt4  pt5  pt6  pt7  pt8   labels
0  gt_1234   45  272  215  273  212  296   45  290  一站式购物中心
1  gt_1234   33  325  204  328  202  363   31  357     母婴百汇
2  gt_1234   25  359   71  364   70  385   25  382     TEL:
3  gt_1234   72  362  197  365  197  388   72  384  8168886
5  gt_1234  649  317  665  317  662  331  648  331        方

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382606 entries, 0 to 382605
Data columns (total 10 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   imgs    382606 non-null  object
 1   pt1     382606 non-null  int64
 2   pt2     382606 non-null  int64
 3   pt3     382606 non-null  int64
 4   pt4     382606 non-null  int64
 5   pt5     382606 non-null  int64
 6   pt6     382606 non-null  int64
 7   pt7     382606 non-null  int64
 8   pt8     382606 non-null  int64
 9   labels  382600 non-null  object
dtypes: int64(8), object(2)
memory usage: 29.2+ MB

In [43]:
# opened_img = None
# img = None
# same_pic_count=0
# for index, row in df.iterrows():
#     color = (0,0,255)#set first line color in red
#     current_img = df.imgs[index]+".jpg"#get file name
#     points = [[row["pt"+str(x)],row["pt"+str(x+1)]] for x in range(1,9,2)]#get position data
#     points = np.array(points, np.int32)#turn points into np.array
#     if current_img == opened_img:#if same pics
#         same_pic_count+=1
#         random.seed(same_pic_count)
#         color = (random.randint(0,255),random.randint(0,255),random.randint(0,255))#change color
#         cv2.polylines(img, pts=[points], isClosed=True, color=color, thickness=3)#draw polylines
#         continue
#     else:# if new pic
#         if opened_img:
#             cv2.imwrite(out_path+opened_img, img)#save original img to path
#         same_pic_count= 0
#         img = cv2.imread(img_path+current_img)#read new img 
#         opened_img = current_img
#         cv2.polylines(img, pts=[points], isClosed=True, color=color, thickness=3)   #draw polylines